.slick-slider {
	height: auto;
	width: 100%;
	margin: 0;
}
.slick-slide {
	position: relative;
}
.slick-slider .slick-arrow {
	width: 2.66667rem;
	height: 2.66667rem;
	color: #252a33;
	background: #fff;
	text-align: center;
	transition: all .3s ease;
	z-index: 100;
}
.slick-arrow::before {
	color: #252a33;
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
	font-weight: bold;
}
.slick-prev {
	left: 0;
}
.slick-next {
	right: 0;
}
.slick-dots {
	bottom: 15px;
}
.slick-dots li button:before {
	font-size: 15px;
}
.description {
	position: absolute;
	right: 1.66667rem;
	top: 40%;
	transform: translateY(-50%);
	display: flex;
	flex-wrap: wrap;
	padding: 1rem;
	max-width: 35%;
	z-index: 100;
	padding-right: 5%;
}
.description h6, .description p  {
	display: none !important;
}
@media (min-width: 767px) {
	.description {
		max-width: 35%;
		top: 45%;
	}
	.description h6, .description p  {
		display: block !important;
	}
}
